# Firebase Configuration
# 1. Go to the Firebase Console (https://console.firebase.google.com/)
# 2. Create a new project or select an existing one.
# 3. In your Project settings, go to the "General" tab.
# 4. In the "Your apps" card, click the web icon (</>) to create a new web app.
# 5. Firebase will give you a firebaseConfig object. Copy the values here.

NEXT_PUBLIC_FIREBASE_API_KEY="YOUR_API_KEY"
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN="YOUR_AUTH_DOMAIN"
NEXT_PUBLIC_FIREBASE_PROJECT_ID="YOUR_PROJECT_ID"
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET="YOUR_STORAGE_BUCKET"
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID="YOUR_MESSAGING_SENDER_ID"
NEXT_PUBLIC_FIREBASE_APP_ID="YOUR_APP_ID"
